<div id="table" class="table-responsive">
    <table class="table table-striped b-t b-light">
        <thead>
            <tr>
                <th style="width:60px;">序号</th>
                <th>名称</th>  
                <th>开始时间</th>
                <th>结束时间</th>
                <th>地点</th>
                <th>讲座证明</th>
                <th>讲座时长</th>
                <th>主讲人</th>
                <th>讲座类别</th>
                <th>面向对象</th>
                <th>限制人数</th>
                <th>审核状态</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {{if !list.length}}
            <tr>
                <td colspan="13" style="text-align: center;">没有记录</td>
            </tr>
            {{else}} {{each list item index}}
            <tr data-custom-id="{{item.id}}">
                <td>{{showCount*(currentPage-1)+index+1}}</td>
                <td>{{item.name}}</td>              
                <td>{{item.startTime}}</td>
                <td>{{item.endTime}}</td>
                <td>{{item.address}}</td>
                <td>{{item.isProved == 0 ? '否':'是'}}</td>
                <td>{{item.hour}}</td>
                {{if item.speakerLinkList}}
                <td>
                    {{each item.speakerLinkList it ind}} {{it.name}} {{/each}}
                </td>
                {{else}}
                <td></td>
                {{/if}}
                <td>{{item.category.name}}</td>
                <td>{{item.groupOfPep}}</td>
                <td>{{item.limitNumOfPep}}</td>
                <td>{{item.status === 1 ? '未审核' : item.status === 2 ? '待审核' : item.status === 3 ? '审核通过' : item.status === 4 ? '审核不通过' : '待复审中'}}</td>
                <td>
                    <!-- {{if item.status === 1 || item.status === 2 || item.status === 5}} -->
                    <button onclick="auditItem('{{item.id}}')" class="btn btn-success btn-xs" style="margin-bottom: 10px;">审核</button>
                    <!-- {{/if}} -->
                   <!--  <button onclick="_g.openWin('lecture/signResult','id={{item.id}}');" class="btn btn-success btn-xs" style="margin-bottom: 10px;">签到结果</button> -->
                    <button onclick="_g.openWin('lecture/edit','id={{item.id}}');" class="btn btn-success btn-xs" style="margin-bottom: 10px;">详情</button>
                    <!-- <button onclick="_g.openWin('lecture/comment','id={{item.id}}');" class="btn btn-success btn-xs" style="margin-bottom: 10px;">查看评论</button>
                    <button onclick="deleteItem('{{item.id}}')" class="btn btn-danger btn-xs" data-id="1234" style="margin-bottom: 10px;">删除</button> -->
                </td>
            </tr>
            {{/each}} {{/if}}
        </tbody>
    </table>
</div>