
    <div id="table" class="table-responsive">
        <table class="table table-striped b-t b-light">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>学生姓名</th>
                    <th>学生学号</th>
                    <th>分类</th>
                    <th>问题描述</th>
                    <th>解答</th>
                    <th>提问时间</th>
                    <th>解答时间</th>
                    <th>是否为FAQ</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {{if !list.length}}
            <tr>
                <td colspan="14" style="text-align: center;">没有记录</td>
            </tr>
            {{else}} {{each list item index}}
            <tr data-custom-id="{{item.id}}">
                <td>{{showCount*(currentPage-1)+index+1}}</td>
                <td>{{item.student.name}}</td>
                <td>{{item.student.num}}</td>
                <td>{{item.category.name}}</td>
                <td>{{item.question}}</td>
                <td>{{item.solution}}</td>
                <td>{{item.quizTimeStr}}</td>
                <td>{{item.keyTimeStr}}</td>
                <td>{{item.isFaq === 1 ? '不是' : '是'}}</td>
                <td>
                    <button onclick="javascript:_g.openBaseModal('question/answer-V', {id: '{{item.id}}'}, '回复问题');" class="btn btn-success btn-xs">回复</button>
                    {{if item.isFaq === 1}}
                    <button onclick="setFAQ('{{item.id}}')" class="btn btn-success btn-xs">更新为FAQ</button>
                    {{else}}
                    <button onclick="setFAQ('{{item.id}}','delete')" class="btn btn-danger btn-xs">从FAQ中删除</button>
                    {{/if}}
                    <button onclick="deleteItem('{{item.id}}')" class="btn btn-danger btn-xs" data-id="1234" style="margin-top: 5px;">删除</button>
                </td>
            </tr>
            {{/each}} {{/if}}
            </tbody>
        </table>
    </div>
    