<!--表格数据 s-->
<div id="table" class="table-responsive">
    <table class="table table-striped b-t b-light">
        <thead>
            <tr>
                <th>序号</th>
                <th>管理员ID</th>
                <th>用户名</th>
                <th>姓名</th>
                <th>所属机构</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {{if !list.length}}
            <tr>
                <td colspan="6" style="text-align: center;">没有记录</td>
            </tr>
            {{else}} {{each list item index}}
            <tr data-custom-id="{{item.id}}">
                <td>{{showCount*(currentPage-1)+index+1}}</td>
                <td>{{item.id}}</td>
                <td>{{item.account}}</td>
                <td>{{item.name}}</td>
                <td>{{item.organization}}</td>
                <td>{{item.status == 2 ? '冻结' : '正常'}}</td>
                <td>
                    <button onclick="_g.openWin('user/addAdmin', 'id={{item.id}}')" class="btn btn-success btn-xs">编辑</button>
                    <button onclick="deleteId('{{item.id}}','{{index+1}}')" class="btn btn-danger btn-xs">删除</button>
                    <button onclick="logout('{{item.id}}')" class="btn btn-danger btn-xs">强制下线</button>
                    <button onclick="resetPassword('{{item.id}}')" class="btn btn-success btn-xs">重置密码</button>
                    {{if item.status == 1}}
                    <button onclick="freeze('{{item.id}}',2)" class="btn btn-danger btn-xs">冻结</button>
                    {{else}}
                    <button onclick="freeze('{{item.id}}',1,'unfreeze')" class="btn btn-success btn-xs">解除冻结</button>
                    {{/if}}
                </td>
            </tr>
            {{/each}} {{/if}}
        </tbody>
    </table>
</div>
<!--表格数据 e-->
