<!--表格数据 s-->
<div id="table" class="table-responsive">
    <table class="table table-striped b-t b-light">
        <thead>
            <tr>
                <th>ID</th>
                <th>账号</th>
                <th>姓名</th>
                <th>所属机构</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {{if !list.length}}
            <tr>
                <td colspan="6" style="text-align: center;">没有记录</td>
            </tr>
            {{else}} {{each list item index}}
            <tr data-custom-id="{{item.aid}}">
                <td>{{item.aid}}</td>
                <td>{{item.ano}}</td>
                <td>{{item.aname}}</td>
                <td>{{item.aorganization}}</td>
                <td>{{item.astatus == 0 ? '禁用' : '正常'}}</td>
                <td>
                    <button onclick="_g.openWin('user/addAdmin', 'id={{item.aid}}')" class="btn btn-success btn-xs">编辑</button>
                    <button onclick="deleteId('{{item.aid}}')" class="btn btn-danger btn-xs" data-id="1">删除</button>
                    <button onclick="_g.openWin('user/addAdmin', 'id={{item.aid}}')" class="btn btn-success btn-xs">修改密码</button>
                    {{if item.astatus == 1}}
                    <button onclick="forbidden('{{item.aid}}')" class="btn btn-danger btn-xs" data-id="2">禁用</button>
                    {{else}}
                    <button onclick="liftForbidden('{{item.aid}}')" class="btn btn-success btn-xs" data-id="3">解禁</button>
                    {{/if}}
                </td>
            </tr>
            {{/each}} {{/if}}           
        </tbody>
    </table>
</div>
<!--表格数据 e-->