<div id="table" class="table-responsive">
    <table class="table table-striped b-t b-light">
        <thead>
            <tr>
                <th style="width:60px;">序号</th>
                <th>学院id</th>
                <th>学院编码</th>
                <th>学院名称</th>
                <th>状态</th>
                <th style="width:280px;">操作</th>
            </tr>
        </thead>
        <tbody>
            {{if !list.length}}
            <tr>
                <td colspan="5" style="text-align: center;">没有记录</td>
            </tr>
            {{else}} {{each list item index}}
            <tr data-custom-id="{{item.id}}">
                <td>{{showCount*(currentPage-1)+index+1}}</td>
                <td>{{item.id}}</td>
                <td>{{item.code}}</td>
                <td>{{item.name}}</td>
                <td>{{item.status === 1 ? '使用中' : '已停用'}}</td>
                <td>
                    <button onclick="_g.openWin('user/editInstitution','id={{item.id}}')" class="btn btn-success btn-xs">编辑</button>
                    <!-- <button onclick="deleteInstitution('{{item.id}}')" class="btn btn-danger btn-xs" data-id="1234">删除</button> -->
                    {{if item.status === 1}}
                    <button onclick="updateStatus('{{item.id}}',2,'stopUse')" class="btn btn-danger btn-xs">停用</button>
                    {{else}}
                    <button onclick="updateStatus('{{item.id}}',1)" class="btn btn-success btn-xs">使用</button>
                    {{/if}}
                </td>
            </tr>
            {{/each}} {{/if}}
        </tbody>
    </table>
</div>